server {
    server_name sheets.${DOMAIN};
    location / {
        proxy_pass  http://grist:8484;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}