server {
    server_name sheets.${NGINX_HOST}.arpa;
    location / {
        return 301 http://sheets.${NGINX_HOST};
    }
}

server {
    server_name sheets.${NGINX_HOST};
    location / {
        proxy_pass  http://grist:8484;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}

server {
    server_name sync.${NGINX_HOST};
    location / {
        proxy_pass  https://syncthing:8384;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}

server {
    server_name dns.${NGINX_HOST};
    location ^/$ {
        return 301 http://pihole/admin;
    }
    server_name dns.${NGINX_HOST};
    location / {
        proxy_pass  http://pihole/;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}